<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="navbar" th:fragment="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Admin panel</a>

<!--      <div sec:authorize="isAuthenticated()" class="nav pull-right" id="navbarSupportedContent">-->
<!--        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">-->
<!--          <i class="halflings-icon white user"></i> sec:authentication="principal.username"-->
<!--          <span class="caret"></span>-->
<!--        </a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li class="dropdown-menu-title">-->
<!--            <a href="#"><i class="halflings-icon off"></i>Account Settings</a>-->
<!--          </li>-->
<!--          <li><a href="#">Profile</a></li>-->
<!--          <li><form  th:action="@{/logout}" th:method="post"><button>Logout</button></form></li>-->
<!--        </ul>-->



        <form id="navbarSupportedContent" class="nav pull-right" sec:authorize="isAuthenticated()"
          th:action="@{/logout}" th:method="post">
          <button class="button">
            Logout <span sec:authentication="principal.username"></span> Roles: <span sec:authentication="principal.authorities"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


</html>