<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="navbar" th:fragment="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Admin panel</a>
       <form id="navbarSupportedContent" class="nav pull-right" sec:authorize="isAuthenticated()"
          th:action="@{/logout}" th:method="post">
          <button class="button">
            Logout <span sec:authentication="principal.username"></span> Roles: <span sec:authentication="principal.authorities"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


</html>